* {
    margin: 0px;
}

@media (max-width: 600px) { /* Phones */
    body {
        background-color: rgb(0, 0, 0);
        background-repeat: no-repeat;
        font-family: sans-serif;
        height: 145vh;
    }
    
    h1 {
		font-size: 22px;
		color: white;
    }
    
    h2 {
		font-size: 20px;
		color: white;
    }
    
    h3 {
		font-size: 15px;
		color: white;
    }
    
    p {
		font-size: 16px;
		color: white;
    }
    
    a {
        font-weight: bold;
        font-size: 15px;
        padding: 4px;
        text-decoration: none;
        border-radius: 5px;
        color: rgb(187, 164, 216);
        transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    a:hover{
        background-color: rgb(187, 164, 216);
        color: black;
        font-size: 16px;
    }

    .upper_section {
        display: flex;
        background-color: rgb(27, 25, 32);
        height: 15vh;
        align-items: center;
        flex-direction: column;
    }

    .middle_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(79, 78, 85, 0.426);
        height: 115vh;
        width: auto;
    }

    .left_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 62.5vh;
        width: 100vw;
    }

    .left_box > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(187, 164, 216);
    }

    .left_box > .container > img {
        width: 100vw;
        height: 28vh;
    }

    .right_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 62.5vh;
        width: 100vw;
    }

    .first_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 20vh;
        border: 1px solid rgb(187, 164, 216);
    }

    .second_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 20vh;
        border: 1px solid rgb(187, 164, 216);
    }

    .third_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 20vh;
        border: 1px solid rgb(187, 164, 216);
    }

    .bottom_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(27, 25, 32);
        height: 25vh;
    }

    .bottom_section > p {
        font-size: 12px;
        color: white;
    }
}

@media (min-width: 601px) { /* Tablets and Computers */
    body {
        background-color: rgb(0, 0 ,0);
        background-repeat: no-repeat;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 115vh;
    }
    
	h1 {
		font-size: 26px;
		color: white;
	}
	
	h2 {
		font-size: 24px;
		color: white;
	}
	
	h3 {
		font-size: 22px;
		color: white;
    }
	
	a {
        font-weight: bold;
        font-size: 15px;
        padding: 4px;
        text-decoration: none;
        border-radius: 5px;
        color: rgb(187, 164, 216);
        transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    a:hover{
        background-color: rgb(187, 164, 216);
        color: black;
        font-size: 16px;
    }
    
    p {
		font-size: 18px;
		color: white;
    }

    .upper_section {
        display: flex;
        background-color: rgb(27, 25, 32);
        height: 5vh;
        align-items: center;
        flex-direction: row;
    }

    .upper_banner {
        padding-left: 20px;
    }


    .nav_buttons {
        padding-left: 30px;
    }

    .middle_section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(41, 37, 53);
        height: 85vh;
        width: auto;
    }

    .left_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
        width: 48.5vw;
    }

    .left_box > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(187, 164, 216, 0.6);
        padding: 8px;
    }

    .left_box > .container > img {
        width: 46.5vw;
        height: 50vh;
    }

    .left_box > .container > p {
        color: white;
        font-size: 20px;
        text-align: center;
    }

    .right_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
        width: 48.5vw;
    }

    .first_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 47vw;
        height: 20vh;
        border: 1px solid rgba(187, 164, 216, 0.6);
        padding: 4px;
    }

    .second_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 47vw;
        height: 20vh;
        border: 1px solid rgba(187, 164, 216, 0.6);
        padding: 4px;
    }

    .third_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 47vw;
        height: 20vh;
        border: 1px solid rgba(187, 164, 216, 0.6);
        padding: 4px;
    }

    .bottom_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(27, 25, 32);
        height: 25vh;
    }

}
